.pagination 
{
	padding-top:5px;
    font-size: 80%;
    float:right;
}
        
.pagination a
{
	text-decoration: none;
	color: #15B;
}


.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;

}

.pagination .current.prev, .pagination .current.next{
	color:#999;

	background:#fff;
}
